{% extends "layout.html" %}

{% block page_title %}

GOV.UK prototype kit

{% endblock %}

{% block content %}

<main id="content">
  <div class="phase-banner">
    <p><strong class="phase-tag">BETA</strong> <span>This is a new service - your <a href="/iws/feedback">feedback</a> will help us to improve it.</span></p>
  </div>
  <div class="top-content-box font-xsmall">
    <div id="homepage-link-container">
      <a href="/iws/applicant/home">Go to your homepage</a>
    </div>
    <div id="top-content-box-container">
      <ul>
        <li>
          <div class="text-secondary">
            Signed in as: <span class="username-format">Phil Baird</span>
          </div>
        </li>
        <li>
          <form action="/iws/account/log-off" id="logoutForm" method="post" name="logoutForm">
            <input name="__RequestVerificationToken" type="hidden" value="X_xtra_5BoFGvZOpbRTM92GKVWxh9kFGIJIcQd1Ea9jAMweUsTPMSAb9vEbWt_CaGxynmwYSWVCc02OQBqmWL8aRcWqkL9HeP6qP1yPBmeJ-zXvn_GJI5b8Y4-GeO_qvm11oBCB-kpYO5SiGcN_XLA2"> <button class="link-submit" id="link-sign-out" type="submit">Sign out</button>
          </form>
        </li>
      </ul>
    </div>
  </div>

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-large">Review user access for notification GB 0001 006282</h1>
  <p>Here you can review and remove access to your notification.
</p>
  <p class="bold-small">This notification will be shared with:</p>

<div class="form-group">
  <table title="Email records" id="emailRecordsTable">
    <thead>
      <tr>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        <td>janewhite@waste.com</td>
        <td><a href="review-confirm">Remove</a></td>
      </tr>
    </tbody>
  </table>
  </div>

</div>


</div>
<div class="form-group">
      <a href="notification-no-consent">Go to notification options</a>
</div>
</main>
{% endblock %}
