{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Certificate of receipt and recovery</h1>
      <ul class="list list-bullet">
        <li><a href="certificate-of-receipt-and-recovery/index">Certificate of receipt and recovery</a><br>
        Follow the "Record a certificate of receipt and recovery" link </li>
        <li><a href="certificate-of-receipt/index">Certificate of receipt only</a><br>
        Follow the "Record a certificate of receipt and recovery" link </li>
        <li><a href="certificate-of-recovery/index">Certificate of recovery only</a><br>
        Follow the "Record a certificate of receipt and recovery" link </li>
      </ul>
    </div>
  </div>
</main>

{% endblock %}
