{% extends "layout.html" %}

{% block page_title %}

GOV.UK prototype kit

{% endblock %}

{% block content %}
    <main id="content">
        <div class="phase-banner">
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>This is a new service - your <a href="/iws/feedback">feedback</a> will help us to improve it.</span>
            </p>
        </div>
        <div class="top-content-box font-xsmall">
            <div id="homepage-link-container">
                <a href="/iws/applicant/home">Go to your homepage</a> </div>
            <div id="top-content-box-container">

                <ul>
                    <li>
                        <div class="text-secondary">Signed in as: <span class="username-format">Jeremy Gillies </span></div>
                    </li>
                    <li>
                        <form action="/iws/account/log-off" id="logoutForm" method="post">
                            <input name="__RequestVerificationToken" type="hidden" value="92BZlg8xxvArz2-L75NPzdKRRpE7EbMsmr4dxyWVBx_kk-tunQUPKyBoZhk9I0ykVFq3guxJu6waoqzd98CW24QZFSNeU0Nc97xUPArFIbjC1FcPyAEkPVlflmq4UsuDzlDzxE0BoRrfpQ9BVZ4pYQ2" />
                            <button class="link-submit" id="link-sign-out" type="submit">Sign out</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>


        <div class="grid-row">
            <aside id="form-menu" class="column-third form-status">
                <p>
                    <span>GB 0001 006003</span>
                </p>

                <ul class="summary-list">
                    <li><span class="grey-text">Shipment number:</span> 35</li>
                    <li> <span class="grey-text">Total number of shipments:</span> 44</li>
                    <li><span class="grey-text">Active loads permitted:</span> 12</li>
                    <li><span class="grey-text">Current active loads:</span> 0</li>
                    <li><span class="grey-text">Total quantity received:</span> 631&nbsp;t
                    </li>
                    <li><span class="grey-text">Total quantity remaining:</span> 369&nbsp;t
                    </li>
                </ul>

            </aside>

            <div class="column-two-thirds">


                <header class="hgroup">
                    <h1 class="heading-large">You've successfully recorded the recovery of the shipment</h1>
                </header>
                <input id="NotificationId" name="NotificationId" type="hidden" value="6895b0dc-f709-4d05-9408-a5d100aef604" />

                <div class="form-group">
                    <a class="button" href="/iws/notification-application/6895b0dc-f709-4d05-9408-a5d100aef604/options">Go to notification options</a>
                </div>

                <a href="/iws/feedback">What do you think of this service?</a>
            </div>
        </div>



    </main>

    {% endblock %}
