
/* Non-production styling for prototype only */

strong {
  font-weight: bold;
}

/* Change answer link */

.change-answer {
  font-weight: 700;
  text-align: right;
  padding-right: 0;
}

/* Change answer link */

.remove {
  text-align: right;
}

/* _overview-table */

.overview-table {
  .value {
    display: inline-block;
    width: 70%;
    input.button {
      margin: -6px 0 0 5px;
      vertical-align: middle;
    }
    input.button {
      @include media(mobile) {
        width:auto;
      }
    }
  }
  .change-answer {
    display: inline-block;
    width:30%;
    .link {
      cursor: pointer;
    }
  }
  .edit {
    padding:2px 15px 0 0;
  }
}

.fg-decision {
  th {
    font-weight: normal;
    width:60%;
  }
  td {
    font-weight: bold;
    width:40%;
  }
}
.fg-header {
  h1 {
    display:inline-block;
    width:60%;
  }
  p {
    display:inline-block;
    width:40%;
  }
}

/* Change consent dates - table */
.key-dates {
  td {
    vertical-align: top;
  }
}

.total-intended-shipments {
  width:30%;
}

/* Accordian */
.accordion-export {
  ul {
    ul {
      li.active {
        background:$grey-3;
      }
    }
  }
}

/* Multiselect */
.ms-container{
  background:none;
}

.ms-container .ms-selectable, .ms-container .ms-selection {
  color: $black;
  width:100%;
}

.ms-container .ms-selection {
  float:none;
  margin-bottom: 30px;
}

.ms-selectable .search-input {
  width:50%;
  margin-bottom:15px;
  font-size: 16px;
  color:$black;
}


.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection{
  border-bottom: 1px #eee solid;
  padding: 4px 10px;
  color: $black;
  font-size: 16px;
}
.ms-container .ms-selection li.ms-elem-selection {
  padding: 10px 0 8px;
  font-size: 19px;
}

.ms-container .ms-list {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.ms-container .ms-selection .ms-list {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  border: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
  position: relative;
  height: 100%;
  padding: 0;
  overflow-y: none;
}

.ms-container .ms-list.ms-focus{
  border-color: $yellow;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 3px solid $yellow;
}
