
/* Non-production styling for prototype only */

strong {
  font-weight: bold;
}

/* Change answer link */

.change-answer {
  font-weight: 700;
  text-align: right;
  padding-right: 0;
}

/* Change answer link */

.remove {
  text-align: right;
}

/* _overview-table */

.overview-table {
  .value {
    display: inline-block;
    width: 70%;
    input.button {
      margin: -6px 0 0 5px;
      vertical-align: middle;
    }
    input.button {
      @include media(mobile) {
        width:auto;
      }
    }
  }
  .change-answer {
    display: inline-block;
    width:30%;
    .link {
      cursor: pointer;
    }
  }
  .edit {
    padding:2px 15px 0 0;
  }
}

.fg-decision {
  th {
    font-weight: normal;
    width:60%;
  }
  td {
    font-weight: bold;
    width:40%;
  }
}
.fg-header {
  h1 {
    display:inline-block;
    width:60%;
  }
  p {
    display:inline-block;
    width:40%;
  }
}

/* Change consent dates - table */
.key-dates {
  td {
    vertical-align: top;
  }
}

.total-intended-shipments {
  width:30%;
}

/* Accordian styling */
.accordion-export {
  ul {
    ul {
      li.active {
        background:$grey-3;
      }
    }
  }
}
