{% extends "layout.html" %}

{% block page_title %}
  Record shipment data
{% endblock %}

{% block content %}

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
  <div class="top-content-box font-xsmall">
    <div id="homepage-link-container"></div>
    <div id="top-content-box-container">
      <section class="noti-switch" id="">
        <div>
          <form action=""><span>You're working on</span>
            <input class="noti-number" id="Number" name="Number" title="Click and type a new notification number" type="text" value="GB 0001 004008">
            <i class="fa fa-exchange"></i>
            <button class="button switch" type="submit">Change notification</button>
          </form>
        </div>
      </section>
      <ul>
        <li>
          <div class="text-secondary">Signed in as: <span class="username-format">Phil Baird</span></div>
        </li>
        <li>
          <form action="/index" id="logoutForm" method="post">
            <input name="__RequestVerificationToken" type="hidden" value="KoUTnWq7eVl2DGt5nAnDAJLcFS_4tMPlbYtus1aBesLdLGnKLpeBBFt85JdFoNCslT9WeU0gjMpPC-BKwBW9zk1iWS5vKgJbGCQETDlVicxOYAXAq-BHQCiXeoC6LDLPT8KEW4PeGcIRc2FjRTrF7w2">
            <button class="link-submit" id="link-sign-out" type="submit">Sign out</button>
          </form>
        </li>
      </ul>
    </div>
  </div>

  <script type="text/javascript">
    $(function() {
      // setTimeout() function will be fired after page is loaded
      // it will wait for 5 sec. and then will fire
      // $("#successMessage").hide() function
      setTimeout(function() {
        $("#status-box-saved").fadeOut(1000);
      }, 3000);
    });
  </script>

  <div class="grid-row">
    <div class="column-full">
      <div id="status-box-saved" name="status-box-saved">
        <h2 class="heading-small">Your changes have been saved</h2>
      </div>
    </div>
  </div>


  <div>
  <script>
function autotab(current,to){
    if (current.getAttribute && 
      current.value.length==current.getAttribute("maxlength")) {
        to.focus() 
        }
}
</script>
<form name="date" action="/prototypes/edit-shipment/edit-shipment-saved" style="margin-bottom: 30px;">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Record shipment data</h1>
<div class="data">
  <span class="data-item bold-xxlarge">Shipment 11</span>
</div>

          <div class="form-group">
            <fieldset>
              <legend class="form-label-bold">Prenotification date</legend>
              <p class="form-hint">Specify day, month and last two digits of year. For example, 19 11 16</p>
              <label for="HasNoPrenotification" class="block-label selection-button-checkbox">
              <input id="HasNoPrenotification" type="checkbox" value="true">
                No prenotification received</label>
            </fieldset>
          </div>

  <fieldset>
              <div class="form-group">
                <div class="form-date">
<div class="form-group form-group-month">
  <label for="day">Day</label>
  <input class="form-control" type="text" name="date1" size=4 onKeyup="autotab(this, document.date.date2)" maxlength=2 value="28">
</div>
<div class="form-group form-group-month">
  <label for="month">Month</label>
  <input class="form-control" type="text" name="date2" size=4 onKeyup="autotab(this, document.date.date3)" maxlength=2 value="02">
</div>
<div class="form-group form-group-month">
  <label for="year">Year</label>
  <input class="form-control" type="text" name="date3" size=4 onKeyup="autotab(this, document.date.date4)" maxlength=2 value="17">
</div>
</div>
</div>
<div class="form-group" style="margin-bottom: 0;">
<legend class="form-label-bold">Actual date of shipment</legend>
              <p class="form-hint">For example, 19 11 16</p>
</div>

              <div class="form-group">
                <div class="form-date">
<div class="form-group form-group-month">
  <label for="day">Day</label>
  <input class="form-control" type="text" name="date4" size=4 onKeyup="autotab(this, document.date.date5)" maxlength=2 value="12">
</div>
<div class="form-group form-group-month">
  <label for="month">Month</label>
  <input class="form-control" type="text" name="date5" size=4 onKeyup="autotab(this, document.date.date6)" maxlength=2 value="03">
</div>
<div class="form-group form-group-month">
  <label for="year">Year</label>
  <input class="form-control" type="text" name="date6" size=4 onKeyup="autotab(this, document.date.date7)" maxlength=2 value="17">
</div>
</div>
</div>
<div class="form-group" style="margin-bottom: 15px;">
<legend class="form-label-bold">When was the waste received?</legend>
</div>

              <div class="form-group">
                <div class="form-date">
<div class="form-group form-group-month">
  <label for="day">Day</label>
  <input class="form-control" type="text" name="date7" size=4 onKeyup="autotab(this, document.date.date8)" maxlength=2 value="30">
</div>
<div class="form-group form-group-month">
  <label for="month">Month</label>
  <input class="form-control" type="text" name="date8" size=4 onKeyup="autotab(this, document.date.date9)" maxlength=2 value="02">
</div>
<div class="form-group form-group-month">
  <label for="year">Year</label>
  <input class="form-control" type="text" name="date9" size=4 maxlength=2 value="17">
</div>
</div>
</div>
      </fieldset>

<div class="form-group">
  <div class="form-group">
  <label class="heading-small" for="Receipt_WasShipmentAccepted">Was the shipment accepted?</label>  
       <fieldset>

      

      <label class="block-label selection-button-radio" data-target="contact-by-email" for="example-contact-by-email">
        <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes" checked="checked">
        Yes
      </label>

      <label class="block-label selection-button-radio" data-target="contact-by-phone" for="example-contact-by-phone">
        <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
        No
      </label>
      <div class="panel panel-border-narrow js-hidden" id="contact-by-phone">
        <div class="form-group"><label class="form-label-bold" for="Receipt_RejectionReason">Why was it rejected?</label>
                  <select class="form-control" id="Receipt_RejectionReason" name="Receipt.RejectionReason"><option value=""></option>
                    <option>Illegal shipment</option>
                    <option>Unplanned shipment</option>
                    <option>An accident</option>
                    <option>Site inspection</option>
                    <option>Rejected by consignee</option>
                    <option>Refused entry by competent authority</option>
                    <option>Unauthorised shipment</option>
                    <option>Waste not as specified</option>
                    <option>Abandoned waste</option>
                    <option>Unrecovered waste</option>
                  </select></div>
                  <div class="form-group">
                        <label class="form-label" for="Receipt_RejectionFurtherInformation">Further information on why the shipment was rejected</label>
                        
                        <textarea class="form-control" cols="15" id="Receipt_RejectionFurtherInformation" name="Receipt.RejectionFurtherInformation" rows="10"></textarea>
                    </div>
      </div>

    </fieldset>
  </div>
</div>

<div class="form-group">
          <h3 class="heading-small" style="margin-top: 0">How much waste was received?</h3>
          <p>Enter the quantity of waste received on the shipment</p>
          <label class="form-label" for="Receipt_ActualQuantity">Quantity received</label>
          <div class="grid-row">
            <div class="column-third">
              <input class="form-control form-control-wide" id="Receipt_ActualQuantity" min="0" name="Receipt.ActualQuantity" step="any" type="text" maxlength="10" value="3656.223">
            </div>
            <div class="column-third">
              <select class="form-control form-control-wide" id="Receipt_Units" name="Receipt.Units">
                <option value="Kilograms">kilograms (kg)</option>
                <option selected="selected" value="Tonnes">tonnes (t)</option>
              </select>
              <input id="Receipt_PossibleUnits_0_" name="Receipt.PossibleUnits[0]" type="hidden" value="Kilograms">
              <input id="Receipt_PossibleUnits_1_" name="Receipt.PossibleUnits[1]" type="hidden" value="Tonnes">
            </div>
          </div>
        </div>
<div class="form-group" style="margin-bottom: 15px;">
<legend class="form-label-bold">When was the waste recovered?</legend>
</div>
<div class="form-group">
                <div class="form-date">
<div class="form-group form-group-month">
  <label for="day">Day</label>
  <input class="form-control" type="text" name="date10" size=4 onKeyup="autotab(this, document.date.date11)" maxlength=2 value="12">
</div>
<div class="form-group form-group-month">
  <label for="month">Month</label>
  <input class="form-control" type="text" name="date11" size=4 onKeyup="autotab(this, document.date.date12)" maxlength=2 value="02">
</div>
<div class="form-group form-group-month">
  <label for="year">Year</label>
  <input class="form-control" type="text" name="date12" size=4 maxlength=2 value="17">
</div>
</div>
</div>


<div class="form-group">
  <div class="form-group">
  <label class="heading-small" for="Receipt_WasShipmentAccepted">Do you want to enter comments against this shipment?</label>  
       <fieldset>

      

      <label class="block-label selection-button-radio" data-target="contact-comments" for="yes-comments">
        <input id="yes-comments" type="radio" name="radio-comments" value="Yes">
        Yes
      </label>

      <label class="block-label selection-button-radio" data-target="contact-no-comments" for="no-comments">
        <input id="no-comments" type="radio" name="radio-comments" value="No" checked="checked">
        No
      </label>
      <div class="panel panel-border-narrow js-hidden" id="contact-comments">
        <div class="form-group">
          <label class="heading-small" for="textarea-a">
            Comments
          </label>
          <textarea class="form-control" id="textarea-a" cols="30" rows="10"></textarea>
        </div>
      </div>

    </fieldset>
  </div>
</div>

<button class="button" type="submit" disabled="disabled">Saved</button>
</form>
<p style="margin-top: 30px;"><a href="/prototypes/edit-shipment/index">Return to shipment summary</a></p>
    </div>
    <aside class="column-third form-status">
    <div id="form-menu">
      <p><span>GB 0001 004008</span></p>
      <ul class="summary-list">
        <li><span class="grey-text">Total number of shipments:</span> 10</li>
        <li><span class="grey-text">Active loads permitted:</span> 10</li>
        <li><span class="grey-text">Current active loads:</span> 0</li>
        <li><span class="grey-text">Total quantity received:</span> 518.550&nbsp;t</li>
        <li><span class="grey-text">Total quantity remaining:</span> 2127.520&nbsp;t</li>
        <li><span class="grey-text">Average tonnage per shipment:</span> 51.855&nbsp;t</li>
        <li><span class="grey-text">Total consented tonnage:</span> 0&nbsp;t</li>
      </ul>
      <h2 class="heading-medium">Shipment 11</h2>
     <h3>Select a different shipment:</h3>

           <select class="form-control" id="Receipt_RejectionReason" name="Receipt.RejectionReason"><option value="Shipsment associated with this notification"></option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>6</option>
              <option>8</option>
              <option>9</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>33</option>
            </select></div>
          <a href="edit-shipment-alt.html">Change shipment</a><br>
          <a href="../new-shipment/index.html">Start a new shipment</a>

    </aside>
  </div>
</main>

{% endblock %}
