{% extends "layout.html" %}

{% block page_title %}
  Create a shipment
{% endblock %}

{% block content %}

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
  <div class="top-content-box font-xsmall">
    <div id="homepage-link-container"></div>
    <div id="top-content-box-container">
      <section class="noti-switch" id="">
        <div>
          <form action=""><span>You're working on</span>
            <input class="noti-number" id="Number" name="Number" title="Click and type a new notification number" type="text" value="GB 0001 004008">
            <i class="fa fa-exchange"></i>
            <button class="button switch" type="submit">Change notification</button>
          </form>
        </div>
      </section>
      <ul>
        <li>
          <div class="text-secondary">Signed in as: <span class="username-format">Liam McMurray </span></div>
        </li>
        <li>
          <form action="/index" id="logoutForm" method="post">
            <input name="__RequestVerificationToken" type="hidden" value="KoUTnWq7eVl2DGt5nAnDAJLcFS_4tMPlbYtus1aBesLdLGnKLpeBBFt85JdFoNCslT9WeU0gjMpPC-BKwBW9zk1iWS5vKgJbGCQETDlVicxOYAXAq-BHQCiXeoC6LDLPT8KEW4PeGcIRc2FjRTrF7w2">
            <button class="link-submit" id="link-sign-out" type="submit">Sign out</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
  <div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Edit shipment data</h1>
      
<!-- Shipment number -->
        <h2 class="heading-medium">Shipment 66</h2>
        <p>Current status is <strong>Received</strong></p>
       
          
         <form action="/prototypes/edit-shipment/index">
<!-- Prenotification date -->
          <div class="form-group form-group-year"><label class="heading-small" for="PrenotificationDate">Prenotification date</label>
            <fieldset style="margin-bottom: 15px;">
              <label class="block-label selection-button-checkbox" for="HasNoPrenotification">
                <input id="HasNoPrenotification" name="HasNoPrenotification" type="checkbox" value="true"><input name="HasNoPrenotification" type="hidden" value="false">
                No prenotification received
              </label>
            </fieldset>
            
            <label class="form-label form-hint" for="PrenotificationDate">e.g. '19/01/17'</label>
            <input autofocus class="form-control form-control-1-4" data-type="date" id="PrenotificationDate_Day" max="31" min="1" name="PrenotificationDate.Day" placeholder="" value="12/30/16">
          </div>
<!-- Actual date -->
            <div class="form-group form-group-year">
                        <label class="heading-small" for="ActualShipmentDate">Actual date of shipment</label>
            <input id="ActualShipmentDate_IsAutoTabEnabled" name="ActualShipmentDate.IsAutoTabEnabled" type="hidden" value="True">
            <input id="ActualShipmentDate_AllowPastDates" name="ActualShipmentDate.AllowPastDates" type="hidden" value="True">
              <label class="form-label form-hint" for="ActualShipmentDate_Year">e.g. '19/01/17'</label>
              <input class="form-control form-control-1-4" id="ActualShipmentDate_Year" min="1900" name="ActualShipmentDate.Year" placeholder="" value="20/30/16">
            </div>

<!-- Received -->
        <div class="form-group">
          <label class="heading-small" for="Receipt_ReceivedDate">When was the waste received?</label>
          <input id="Receipt_ReceivedDate_IsAutoTabEnabled" name="Receipt.ReceivedDate.IsAutoTabEnabled" type="hidden" value="True">
          <input id="Receipt_ReceivedDate_AllowPastDates" name="Receipt.ReceivedDate.AllowPastDates" type="hidden" value="True">
          <div class="form-group form-group-year">
            <label class="form-label form-hint" for="Receipt_ReceivedDate_Year">e.g. '19/01/17' </label>
            <input class="form-control form-control-1-4" id="Receipt_ReceivedDate_Year" min="1900" name="Receipt.ReceivedDate.Year" placeholder="" value="04/01/17">
          </div>
        </div>
<!-- Accepted -->
<div class="form-group"><form>
  <div class="form-group">
  <label class="heading-small" for="Receipt_WasShipmentAccepted">Was the shipment accepted?</label>  
    <fieldset>

      

      <label class="block-label selection-button-radio" data-target="contact-by-email" for="example-contact-by-email">
        <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
        Yes
      </label>

      <label class="block-label selection-button-radio" data-target="contact-by-phone" for="example-contact-by-phone">
        <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
        No
      </label>
      <div class="panel panel-border-narrow js-hidden" id="contact-by-phone">
        <div class="form-group"><label class="form-label-bold" for="Receipt_RejectionReason">Why was it rejected?</label>
                  <select class="form-control" id="Receipt_RejectionReason" name="Receipt.RejectionReason"><option value=""></option>
                    <option>Illegal shipment</option>
                    <option>Unplanned shipment</option>
                    <option>An accident</option>
                    <option>Site inspection</option>
                    <option>Rejected by consignee</option>
                    <option>Refused entry by competent authority</option>
                    <option>Unauthorised shipment</option>
                    <option>Waste not as specified</option>
                    <option>Abandoned waste</option>
                    <option>Unrecovered waste</option>
                  </select></div>
                  <div class="form-group">
                        <label class="form-label" for="Receipt_RejectionFurtherInformation">Further information on why the shipment was rejected</label>
                        
                        <textarea class="form-control" cols="15" id="Receipt_RejectionFurtherInformation" name="Receipt.RejectionFurtherInformation" rows="10"></textarea>
                    </div>
      </div>

    </fieldset>
  </div>
</form>
</div>
        <div class="form-group">
          <h3 class="heading-small" style="margin-top: 0">How much waste was received?</h3>
          <p>Enter the quantity of waste received on the shipment</p>
          <label class="form-label" for="Receipt_ActualQuantity">Quantity received</label>
          <div class="grid-row">
            <div class="column-third">
              <input class="form-control form-control-wide" id="Receipt_ActualQuantity" min="0" name="Receipt.ActualQuantity" step="any" type="number" value="300">
            </div>
            <div class="column-third">
              <select class="form-control form-control-wide" id="Receipt_Units" name="Receipt.Units">
                <option value="Kilograms">kilograms (kg)</option>
                <option selected="selected" value="Tonnes">tonnes (t)</option>
              </select>
              <input id="Receipt_PossibleUnits_0_" name="Receipt.PossibleUnits[0]" type="hidden" value="Kilograms">
              <input id="Receipt_PossibleUnits_1_" name="Receipt.PossibleUnits[1]" type="hidden" value="Tonnes">
            </div>
          </div>
        </div>
        <div class="form-group form-group-year">
          <label class="heading-small" for="Recovery_RecoveryDate">When was the waste recovered?</label>
          <div class="form-group form-group-year">
            <input id="Recovery_RecoveryDate_IsAutoTabEnabled" name="Recovery.RecoveryDate.IsAutoTabEnabled" type="hidden" value="True">
            <input id="Recovery_RecoveryDate_AllowPastDates" name="Recovery.RecoveryDate.AllowPastDates" type="hidden" value="True">
            <div class="form-group form-group-year">
               <label class="form-label form-hint" for="ActualShipmentDate_Year">e.g. '19/01/17'</label>
              <input class="form-control form-control-1-4" id="ActualShipmentDate_Year" min="1900" name="ActualShipmentDate.Year" placeholder="" value="20/30/16">

            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="heading-small" for="textarea-a">
            Comments
          </label>
          <textarea class="form-control" id="textarea-a" cols="30" rows="10">Check the documents have been uploaded for this.</textarea>
        </div>
        <div class="form-group">
        <form action="/prototypes/edit-shipment/edit-shipment-saved">
        <button class="button" type="submit">Save and continue</button>
        </form>
        </div>
      </form>
      <a href="/prototypes/edit-shipment/index">Return to shipment summary</a>
    </div>
    <aside id="form-menu" class="column-third form-status" style="margin-top: 0; position: fixed; left: 670px;">
    <p><span>GB 0001 004008</span></p>
    <ul class="summary-list">
      <li> <span class="grey-text">Total number of shipments:</span> 10</li>
      <li><span class="grey-text">Active loads permitted:</span> 10</li>
      <li><span class="grey-text">Current active loads:</span> 0</li>
      <li><span class="grey-text">Total quantity received:</span> 576.37&nbsp;t</li>
      <li><span class="grey-text">Total quantity remaining:</span> 2023.63&nbsp;t</li>
    </ul>
    <h2 class="heading-small">Shipment 66</h2>
     <h3>Select a different shipment:</h3>
         <div class="form-group">
           <select class="form-control" id="Receipt_RejectionReason" name="Receipt.RejectionReason"><option value="Shipsment associated with this notification"></option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>6</option>
              <option>8</option>
              <option>9</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>33</option>
            </select>
            <a href="edit-shipment-alt.html">Change shipment</a>
          </div>
    </aside>
  </div>
</main>

{% endblock %}
