{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is a new service - your <a href="/iws/feedback">feedback</a> will help us to improve it.</span>
    </p>
  </div>
  <div class="top-content-box font-xsmall">
    <div id="top-content-box-container">
      <section class="noti-switch" id="">
        <div>
          <form action="/iws/notification-switch/switch" method="post">
            <input name="__RequestVerificationToken" type="hidden" value="syBzhYgUB_9FXp6Bc7PrRRYgwDR3d01aQeNgn0nZb7z_1dH1b_bO7igYKLHYOYaA4nb-lVrsRge03I7trK3dt7XVfsXGZlQsB-B9me9ezdoXX1Mp6PBip9wLtJyT3i0oBoEgUeq5osLvLCIAXV7xKQ2">
            <input id="OriginalNumber" name="OriginalNumber" type="hidden" value="GB 0001 004008">
            <span>You're working on</span>
            <input class="noti-number" id="Number" name="Number" title="Click and type a new notification number" type="text" value="GB 0001 004008">
            <button class="button switch" type="submit">Change notification</button>
          </form>
        </div>
      </section>
      <ul>
        <li>
          <div class="text-secondary">Signed in as: <span class="username-format">Liam McMurray </span></div>
        </li>
        <li>
          <form action="/iws/account/log-off" id="logoutForm" method="post">
            <input name="__RequestVerificationToken" type="hidden" value="XkBQncJqINwXZfud2UD8cuspaEr-fd1Fe6jShc9PfDWx4az5ox5hwD0o9ySiaNeB0anWuGkft22D_PMg-0y6TMuBEvaDIDSb7bVlAr0mlrHLUd7mEUuxrcztVUXgKb8HSnDYx8j-bRWKuknY1Kqg9Q2">
            <button class="link-submit" id="link-sign-out" type="submit">Sign out</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
    <h1 class="heading-large">Edit shipment data</h1>
  <table class="check-your-answers">
    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Shipment 66
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Prenotification date
        </td>
        <td>
          16 June 2016
        </td>
        <td class="change-answer">
          <a href="/prototypes/new-shipment/index">
            Change <span class="visuallyhidden">prenotification date</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Actual date
        </td>
        <td>
          21 September 2016
        </td>
        <td class="change-answer">
          <a href="/prototypes/new-shipment/index">
            Change <span class="visuallyhidden">actual date</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Waste received date
        </td>
        <td>
          10 October 2016
        </td>
        <td class="change-answer">
          <a href="/prototypes/new-shipment/index">
            Change <span class="visuallyhidden">waste received</span>
          </a>
        </td>
      </tr>
       <tr>
        <td>
          Shipment accepted?
        </td>
        <td>
         Yes
        </td>
        <td class="change-answer">
          <a href="/prototypes/new-shipment/index">
            Change <span class="visuallyhidden">shipment accepted</span>
          </a>
        </td>
      </tr>
       <tr>
        <td>
          Quantity received
        </td>
        <td>
          6.16 Tonnes
        </td>
        <td class="change-answer">
          <a href="/prototypes/new-shipment/index">
            Change <span class="visuallyhidden">waste received</span>
          </a>
        </td>
      </tr>
       <tr>
        <td>
          Waste recovered date
        </td>
        <td>
          31 January 2017
        </td>
        <td class="change-answer">
          <a href="/prototypes/new-shipment/index">
            Change <span class="visuallyhidden">waste received</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="form-group">
    <p></p><p><a href="/prototypes/edit-shipment/index">Return to shipment summary</a></p>
  </div>
    </div>
        <aside id="form-menu" class="column-third form-status">
        <p>
    <span>GB 0001 004008</span>
</p>

<ul class="summary-list">
    <li><span class="grey-text">Shipment number:</span> 66</li>
    <li> <span class="grey-text">Total number of shipments:</span> 9</li>
    <li><span class="grey-text">Active loads permitted:</span> 10</li>
    <li><span class="grey-text">Current active loads:</span> 0</li>
    <li><span class="grey-text">Total quantity received:</span> 
        576.37&nbsp;t
    </li>
    <li><span class="grey-text">Total quantity remaining:</span> 
        2023.63&nbsp;t
    </li>
</ul>

    </aside>
</div>
</main>
{% endblock %}
