{% extends "layout.html" %}

{% block page_title %}

GOV.UK prototype kit

{% endblock %}

{% block content %}

<main id="content">
      <div class="phase-banner">
          <p><strong class="phase-tag">BETA</strong> <span>This is a new service - your <a href="https://prsd.sfwltd.co.uk/iws/feedback">feedback</a> will help us to improve it.</span></p>
      </div>
      <div class="top-content-box font-xsmall">
          <div id="homepage-link-container"></div>
          <div id="top-content-box-container">
              <section class="noti-switch">
                  <div>
                      <form action="/iws/notification-switch/switch" method="post">
                          <input name="__RequestVerificationToken" type="hidden" value="7acGAXexoO9cP0Mzga4MphB4s3Xsib-LEBXgxG3G7Aq_US49rkM0mP2yqNI8PF09FhCLQKKu9i3sLaMfMkCShJYJllTwyAqHvjmnwJmzAYscIGiLXRvksOvO89xuur-LNAqkK5qhsQ4GO8lPnLFQEg2"> <input id="OriginalNumber" name="OriginalNumber" type="hidden" value="GB 0001 006003"> <span>You're working on</span> <input class="noti-number" id="Number" name="Number" title="Click and type a new notification number" type="text" value="GB 0001 006003"> <i class="fa fa-exchange"></i> <button class="button switch" type="submit">Change notification</button>
                      </form>
                  </div>
              </section>
              <ul>
                  <li>
                      <div class="text-secondary">
                          Signed in as: <span class="username-format">Jeremy Gillies</span>
                      </div>
                  </li>
                  <li>
                      <form action="/iws/account/log-off" id="logoutForm" method="post" name="logoutForm">
                          <input name="__RequestVerificationToken" type="hidden" value="ThJgQ_rRibUwAWKGzlrsNFSF4fM3V0NGd9L-XVNH_B03fOPYuHTbGRb09FEaKxpjidm_2LDKlWn2jR3ZtoWofL_YDz7idDytzU-i0YBBED6lWxrqWIXQfmdRw92cpirt96o39Un6W3pkex7AtTZ9Aw2"> <button class="link-submit" id="link-sign-out" type="submit">Sign out</button>
                      </form>
                  </li>
              </ul>
          </div>
      </div>
      <div class="grid-row">
          <aside class="column-third">
              <div class="accordion-export" id="accordion">
                  <p class="bold-medium">&nbsp;GB 0001 006003</p>
                  <ul>
                      <li class="active">
                          <h3 class="current"><span></span>Notification assessment</h3>
                          <ul>
                              <li>
                                  <a href="index">Notification overview</a>
                              </li>
                              <li>
                                  <a href="#">Key dates</a>
                              </li>
                              <li>
                                  <a href="#">Assessment decision</a>
                              </li>
                              <li>
                                  <a href="#">Assign an area</a>
                              </li>
                              <li>
                                  <a href="#">Mark notification as interim or non-interim</a>
                              </li>
                              <li class="active"><a href="financial-guarantee-assessment">Financial guarantee assessment</a></li>
                          </ul>
                      </li>
                      <li>
                          <h3><span></span>Shipments</h3>
                          <ul>
                              <li>
                                  <a href="https://prsd.sfwltd.co.uk/iws/admin-export-notification-movements/6895b0dc-f709-4d05-9408-a5d100aef604">Shipment summary</a>
                              </li>
                              <li>
                                  <a href="https://prsd.sfwltd.co.uk/iws/admin-export-notification-movements/6895b0dc-f709-4d05-9408-a5d100aef604/capture-movement">Record shipment data</a>
                              </li>
                              <li>
                                  <a href="https://prsd.sfwltd.co.uk/iws/admin-export-notification-movements/6895b0dc-f709-4d05-9408-a5d100aef604/cancel">Cancel shipments</a>
                              </li>
                          </ul>
                      </li>
                      <li>
                          <h3><span></span>Finance</h3>
                          <ul>
                              <li>
                                  <a href="https://prsd.sfwltd.co.uk/iws/admin-export-assessment/6895b0dc-f709-4d05-9408-a5d100aef604/account-management">Account management</a>
                              </li>
                              <li>
                                  <a href="https://prsd.sfwltd.co.uk/iws/admin-export-assessment/6895b0dc-f709-4d05-9408-a5d100aef604/payment-details">Payment details</a>
                              </li>
                              <li>
                                  <a href="https://prsd.sfwltd.co.uk/iws/admin-export-assessment/6895b0dc-f709-4d05-9408-a5d100aef604/refund-details">Refund details</a>
                              </li>
                          </ul>
                      </li>
                      <li>
                          <h3><span></span>Reporting</h3>
                          <ul>
                              <li>
                                  <a href="https://prsd.sfwltd.co.uk/iws/reports/export-stats">Export stats</a>
                              </li>
                              <li>
                                  <a href="https://prsd.sfwltd.co.uk/iws/reports/missing-shipments">Missing shipments</a>
                              </li>
                              <li>
                                  <a href="https://prsd.sfwltd.co.uk/iws/reports/export-notifications">Data Export Notifications</a>
                              </li>
                              <li>
                                  <a href="https://prsd.sfwltd.co.uk/iws/reports/finance">Finance report</a>
                              </li>
                              <li>
                                  <a href="https://prsd.sfwltd.co.uk/iws/reports/rdf-srf-wood">FOI report</a>
                              </li>
                          </ul>
                      </li>
                      <li>
                          <h3><span></span>Account services</h3>
                          <ul>
                              <li>
                                  <a href="https://prsd.sfwltd.co.uk/iws/admin/user-administration/manage-new-users">Manage new users</a>
                              </li>
                              <li>
                                  <a href="https://prsd.sfwltd.co.uk/iws/admin/entry-or-exit-point">New ports or border crossings</a>
                              </li>
                          </ul>
                      </li>
                      <li>
                          <h3><span></span>Change owner</h3>
                          <ul>
                              <li>
                                  <a href="https://prsd.sfwltd.co.uk/iws/admin-export-assessment/6895b0dc-f709-4d05-9408-a5d100aef604/change-notification-owner">Change owner</a>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </div>
          </aside>
          <div class="column-two-thirds">
              <h1 class="heading-large">Financial guarantee assessment</h1>
              <div class="fg-header">
                <h1 class="heading-medium">Financial guarantee decision</h1><p class="change-answer"><a href="financial-guarantee-decision">Change</a></p>
              </div>
                <div class="form-group">
                <table>
                  <tr>
                    <th>Decision required by:</th>
                    <td>25/04/2016</td>
                  </tr>
                  <tr>
                    <th>Guarantee received:</th>
                    <td>25/04/2016</td>
                  </tr>
                  <tr>
                    <th>Guarantee completed:</th>
                    <td></td>
                  </tr>
                </table>
              </div>
              <div class="form-group">
                <a class="button" href="financial-guarantee-assessment-new-decision">Make a decision</a>
              </div>
              <hr>
              <h2 class="heading-medium">Financial guarantee history</h2>
                <div class="form-group">
                <table>
                  <tr>
                    <td>Refused</td>
                    <td>25/03/2016</td>
                    <td class="change-answer"><a href="#">View details</a></td>
                  </tr>
                </table>
              </div>
          </div>
      </div>
  </main>
{% endblock %}
