{% extends "layout.html" %}

{% block page_title %}

GOV.UK prototype kit

{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Financial guarantee assessment</h1>
      <ul class="list list-bullet">
        <li><a href="/prototypes/financial-guarantee-decision/financial-guarantee-assessment">Record a new FG against a notification that already has an approved FG in place.</a></li>
        <li><a href="/prototypes/financial-guarantee-decision/financial-guarantee-assessment-refused">Record a new FG against a notification that had a previous FG application refused.</a></li>

      </ul>
    </div>
  </div>
</main>
{% endblock %}
