{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}



<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">IWS prototypes</h1>
      <h2 class="heading-medium">External: Increase number of shipments</h2>
      <p>Scroll down to "Amounts and dates" and look for 'Change'</p>
      <ul class="list list-bullet">
        <li><a href="/prototypes/increase-number-of-shipments_3/index">Edit field in a new page</a></li>
      </ul>
    </div>
  </div>
</main>

{% endblock %}
