{% extends "layout.html" %}

{% block page_title %}

GOV.UK prototype kit

{% endblock %}

{% block content %}

<main id="content">
    <div class="phase-banner">
      <p><strong class="phase-tag">BETA</strong> <span>This is a new service - your <a href="/iws/feedback">feedback</a> will help us to improve it.</span></p>
    </div>
    <div class="top-content-box font-xsmall">
      <div id="homepage-link-container">
        <a href="/iws/applicant/home">Go to your homepage</a>
      </div>
      <div id="top-content-box-container">
        <ul>
          <li>
            <div class="text-secondary">
              Signed in as: <span class="username-format">Phil Baird</span>
            </div>
          </li>
          <li>
            <form action="/iws/account/log-off" id="logoutForm" method="post" name="logoutForm">
              <input name="__RequestVerificationToken" type="hidden" value="ZfpX1axn4zooXCUNB0mraluUZORyQ9WpFeRRLrEDE6NDm5XKt9HZ1GePcoGerur7-ZVXbKVKSFcsnYQ4LWOdjfOeAAhmMtGfjqX8nO4C1j9mKLA3fA9nKPS_uNHJuMxUmCo_mgwqLW-_EfukTrTF5A2"> <button class="link-submit" id="link-sign-out" type="submit">Sign out</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">        
<h1 class="heading-large">Which prenotification would you like to upload?</h1>

<form action="upload-multiple-prenotification">
<div class="form-group">
            
    <label class="block-label selection-button-checkbox" for="HasNoPrenotification">
                <input id="HasNoPrenotification" name="HasNoPrenotification" type="checkbox" value="true"><input name="HasNoPrenotification" type="hidden" value="false">
                Shipment 45
              </label>
    <label class="block-label selection-button-checkbox" for="HasNoPrenotification2">
                <input id="HasNoPrenotification2" name="HasNoPrenotification2" type="checkbox" value="true"><input name="HasNoPrenotification2" type="hidden" value="false">
                Shipment 46
              </label>

                  <label class="block-label selection-button-checkbox" for="HasNoPrenotification3">
                <input id="HasNoPrenotification3" name="HasNoPrenotification3" type="checkbox" value="true"><input name="HasNoPrenotification3" type="hidden" value="false">
                Shipment 47
              </label>

        </div>
        <div class="form-group">
            <button class="button" type="submit">Continue</button>
        </div>
        <div>
            <a href="/iws/notification-application/40dff78b-2cb4-4e52-8d58-a6da00c0d9ad/options">Go to notification options</a>
        </div>
</form>



      </div>
            <aside class="column-third form-status" id="form-menu" style="margin-top: 30px;">
        <p><span>GB 0001 006003</span></p>
        <ul class="summary-list">
          <li><span class="grey-text">Shipment number:</span> 47</li>
          <li><span class="grey-text">Total number of shipments:</span> 46</li>
          <li><span class="grey-text">Active loads permitted:</span> 12</li>
          <li><span class="grey-text">Current active loads:</span> 0</li>
          <li><span class="grey-text">Total quantity received:</span> 631 t</li>
          <li><span class="grey-text">Total quantity remaining:</span> 369 t</li>
        </ul>
      </aside>
    </div>
  </main>
  {% endblock %}
