{% extends "layout.html" %}

{% block page_title %}

GOV.UK prototype kit

{% endblock %}

{% block content %}

<main id="content">
    <div class="phase-banner">
      <p><strong class="phase-tag">BETA</strong> <span>This is a new service - your <a href="/iws/feedback">feedback</a> will help us to improve it.</span></p>
    </div>
    <div class="top-content-box font-xsmall">
      <div id="homepage-link-container">
        <a href="/iws/applicant/home">Go to your homepage</a>
      </div>
      <div id="top-content-box-container">
        <ul>
          <li>
            <div class="text-secondary">
              Signed in as: <span class="username-format">Phil Baird</span>
            </div>
          </li>
          <li>
            <form action="/iws/account/log-off" id="logoutForm" method="post" name="logoutForm">
              <input name="__RequestVerificationToken" type="hidden" value="5ITA6utFzCJyl5PxoKltH2c7_VPJm05n3adKkGHsNcigQAhdC_Xx5vmyA18yRf5apDNvTy5h1UABIMxxYuPwtSygtIUGKhS1ewqjMH117rVSpAg1xFhhxmyvB_wzGjb2-7EXRKdOfeBII3B4FA4xMg2"> <button class="link-submit" id="link-sign-out" type="submit">Sign out</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <header class="hgroup">
          <h1 class="heading-large">What is the actual date of shipment?</h1>
        </header>
        <form action="/iws/notification-movements/6895b0dc-f709-4d05-9408-a5d100aef604/create/shipment-date" enctype="multipart/form-data" method="post">
          <input name="__RequestVerificationToken" type="hidden" value="re66L1LPApQQGIkMaNtkUcZkaLAXI9ky2qrq7VeseOiiNaRE4IspEDHJQBT37qz-YXynyl0s5RxnJAK1au-ijyO9kqAQdsfUWKIaXwEfNJJNdEAQIjQIo74ql4U3v3xz5WK6Q0EnUlm11v1GNgih2A2">
          <div class='error-summary-valid' data-valmsg-summary='true'>
            <ul class='error-summary-list'>
              <li style='display:none'></li>
            </ul>
          </div><input id="MovementId" name="MovementId" type="hidden" value="00000000-0000-0000-0000-000000000000"><input id="StartDate" name="StartDate" type="hidden" value="24/03/2016&#32;00:00:00"><input id="EndDate" name="EndDate" type="hidden" value="23/03/2017&#32;00:00:00"><input id="MovementNumber" name="MovementNumber" type="hidden" value="45">
          <p>You can schedule your shipments from 24 Mar 2016 to 23 Mar 2017.</p>
          <div class="form-group form-group-year"">
            <fieldset>
              <label for="departure_date" class="heading-small">Departure date</label>
              <div class="form-group-year">
                <p class="form-hint">e.g. '19/01/17'</p>
                <div class="form-group form-group-day">
                  <input class="form-control form-control-1-4" id="departure_date" max="31" min="1" name="Day" type="number" value="">
                </div>
              </div>
            </fieldset>
          </div>
          <div class="form-group">
            <a class="button" href="1/actual-quantity">Save and continue</a>
          </div>
        </form>
      </div>
            <aside class="column-third form-status" id="form-menu" style="margin-top:30px;">
        <p><span>GB 0001 006003</span></p>
        <ul class="summary-list">
          <li><span class="grey-text">Shipment number:</span> 45</li>
          <li><span class="grey-text">Total number of shipments:</span> 44</li>
          <li><span class="grey-text">Active loads permitted:</span> 12</li>
          <li><span class="grey-text">Current active loads:</span> 0</li>
          <li><span class="grey-text">Total quantity received:</span> 631 t</li>
          <li><span class="grey-text">Total quantity remaining:</span> 369 t</li>
        </ul>
      </aside>
    </div>
  </main>
  {% endblock %}
