{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">IWS prototypes</h1>
      <h2 class="heading-medium">Receipt journey</h2>
      <ul class="list list-bullet">
        <li><a href="receipt/01-which-shipment-has-been-received">01-which-shipment-has-been-received</a></li>
        <li><a href="receipt/02-date-received">02-date-received</a></li>
        <li><a href="receipt/03-quantity-received">03-quantity-received</a></li>
        <li><a href="receipt/04-receipt-complete">04-receipt-complete</a></li>
        <li><a href="receipt/05-certificate-of-receipt-upload-successful">05-certificate-of-receipt-upload-successful</a></li>
      </ul>
      <h2 class="heading-medium">Recovery journey</h2>
      <ul class="list list-bullet">
        <li><a href="recovery/01-select-a-shipment-to-recover">01-select-a-shipment-to-recover</a></li>
        <li><a href="recovery/02-date-recovered">02-date-recovered</a></li>
        <li><a href="recovery/03-recovery-complete">03-recovery-complete</a></li>
        <li><a href="recovery/04-certificate-of-recovery-successful">04-certificate-of-recovery-successful</a></li>
      </ul>
    </div>
  </div>
</main>

{% endblock %}
