
/* Non-production styling for prototype only */

/* _overview-table */

.overview-table {
  .value {
    display: inline-block;
    width: 70%;
    input.button {
      margin: -6px 0 0 5px;
      vertical-align: middle;
    }
    input.button {
      @include media(mobile) {
        width:auto;
      }
    }
  }
  .change-value {
    display: inline-block;
    text-align: right;
    width:30%;
    .link {
      cursor: pointer;
    }
  }
  .edit {
    padding:2px 15px 0 0;
  }
}

.total-intended-shipments {
  width:30%;
}

/* Status */
.status {
  border-width:1px;
  border-style: solid;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2px 4px 0;
  &.pending {
    border-color:$orange;
    background-color:$orange-25;
    color:$orange;
  }
}


/* Accordian styling */
.accordion-export {
  ul {
    ul {
      li.active {
        background:$grey-3;
      }
    }
  }
}
