{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}



<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">IWS prototypes</h1>
      <h2 class="heading-medium">External prototypes</h2>
      <p>Internal prototypes will be listed here.</p>
      <h2 class="heading-medium">Internal prototypes</h2>
      <p><a href="/prototypes/increase-number-of-shipments">Increase number of shipments</a></p>
      <p><a href="/prototypes/financial-guarantee-decision">Financial guarantee decision</a></p>
    </div>
  </div>
</main>

{% endblock %}
