{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">2017 IWS prototypes</h1>
      <h2 class="heading-medium">External prototypes</h2>
      <ul class="list list-bullet">
      	<li><a href="/prototypes/quick-multiple-prenotes/">Quickly enter multiple prenotifcations</a><br />Follow the "Generate prenotification" link. Prototype will create three prenotifications and presents user with download.</li>
        <!-- <li><a href="/prototypes/simultaneous-receipt-and-recovery/">Add receipt and recovery at the same time</a></li> -->
      </ul>
      <h2 class="heading-medium">Internal prototypes</h2>
      Click on the 'Home' link in the banner at any time to return to this screen.
        <ul class="list list-bullet">
          <li><a href="/prototypes/notification-overview/index">Notification overview</a>
          <br>Start here for the full user journey - click on the shipment summary link on the left, create a new shipment, then edit it from the summary screen, and move to another one using the new selection nav.
          </li>
        </ul>
        <h3 class="heading-small">Deep dive to individual screens</h3>
        <ul class="list list-bullet">
          <li>
            <a href="/prototypes/new-shipment/index">Creating a new shipment</a>
            <br>Single screen approach to creating a new shipment.
          </li>
          <li>
            <a href="/prototypes/edit-shipment/edit-shipment-alt">Edit a shipment</a>
            <br />Focus on first empty filed in a pre-existing shipment.
          </li>
          <li>
            <a href="/prototypes/edit-shipment/edit-shipment-saved">Saved shipment information</a>
            <br />Edit another shipment using side nav
          </li>
        </ul>
      <hr />
      <h1 class="heading-xlarge">Previous IWS prototypes</h1>
      <h2 class="heading-medium">External prototypes</h2>
      <ul class="list list-bullet">
        <li><a href="/prototypes/number-of-shipments/number-of-shipments_external-increase/index">Increase the number of intended shipments</a><br>
        Follow the "Change" link in "Amounts and dates"</li>
        <li><a href="/prototypes/number-of-shipments/number-of-shipments_external-decrease/index">Decrease the number of intended shipments</a><br>
        Follow the "Change" link in "Amounts and dates"</li></li>
        <li><a href="/prototypes/certificate-of-receipt-and-recovery/">
          Input a certificate of receipt and recovery/disposal in the same journey.</a></li>
        <li><a href="/prototypes/multiple-prenotifications-of-shipment/index">Allow users to create multiple prenotifications of shipment</a>.<br>
        <p>Follow the "Generate prenotification" link. Prototype only creates three prenotifications and presents user with download.</p></li>
      </ul>
      <h2 class="heading-medium">Internal prototypes</h2>
      <ul class="list list-bullet">
        <li><a href="/prototypes/number-of-shipments/number-of-shipments_internal-increase/index">Increase the number of intended shipments</a><br>
        Follow the "Change" link in "Amounts and dates"</li></li>
        <li><a href="/prototypes/number-of-shipments/number-of-shipments_internal-decrease/index">Decrease the number of intended shipments</a><br>
        Follow the "Change" link in "Amounts and dates"</li></li>
        <li><a href="/prototypes/financial-guarantee-decision/financial-guarantee-assessment">Record a new FG against a notification that already has an approved FG in place.</a></li>
        <li><a href="/prototypes/financial-guarantee-decision/financial-guarantee-assessment-refused">Record a new FG against a notification that had a previous FG application refused.</a></li>
        <li>
          <a href="/prototypes/change-consented-dates/01-Key-dates.html">Change consent dates.</a><br>
          Follow the "Change" link in the "Consented" row<br>
        </li>
        <li>
          <i>Present payment back to a user for an import notification</i>
        </li>
      </ul>
    </div>
  </div>
</main>

{% endblock %}
