{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">IWS prototypes</h1>
      <h2 class="heading-medium">Internal prototypes</h2>
        <ul class="list list-bullet">
          <li><a href="/prototypes/simpler-shipments/index">Simplified shipment entry</a></li>
          <li><a href="/prototypes/edit-shipments/index">Edit shipment data</a></li>
      </ul>
    </div>
  </div>
</main>

{% endblock %}
