{% extends "layout.html" %}

{% block page_title %}

GOV.UK prototype kit

{% endblock %}

{% block content %}

<main id="content">
  <div class="phase-banner">
    <p><strong class="phase-tag">BETA</strong> <span>This is a new service - your <a href="/iws/feedback">feedback</a> will help us to improve it.</span></p>
  </div>
  <div class="top-content-box font-xsmall">
    <div id="homepage-link-container">
      <a href="/iws/applicant/home">Go to your homepage</a>
    </div>
    <div id="top-content-box-container">
      <ul>
        <li>
          <div class="text-secondary">
            Signed in as: <span class="username-format">Phil Baird</span>
          </div>
        </li>
        <li>
          <form action="/iws/account/log-off" id="logoutForm" method="post" name="logoutForm">
            <input name="__RequestVerificationToken" type="hidden" value="X_xtra_5BoFGvZOpbRTM92GKVWxh9kFGIJIcQd1Ea9jAMweUsTPMSAb9vEbWt_CaGxynmwYSWVCc02OQBqmWL8aRcWqkL9HeP6qP1yPBmeJ-zXvn_GJI5b8Y4-GeO_qvm11oBCB-kpYO5SiGcN_XLA2"> <button class="link-submit" id="link-sign-out" type="submit">Sign out</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
  <div class="shipping-home">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-large">Notification options</h1>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-half">
        <h2 class="heading-medium">Current notification: GB 0001 006003</h2>
        <div class="nav-bloc">
          <nav>
            <a href="/iws/notification-application/6895b0dc-f709-4d05-9408-a5d100aef604">View notification</a> <a href="/iws/notification-application/6895b0dc-f709-4d05-9408-a5d100aef604/what-to-do-next/print">Download notification</a><a href="/iws/notification-application/6895b0dc-f709-4d05-9408-a5d100aef604/what-to-do-next/postage-label">Print postage label</a><a href="/iws/notification-application/6895b0dc-f709-4d05-9408-a5d100aef604/what-to-do-next/financial-guarantee">Complete the financial guarantee</a><a href="/iws/notification-application/6895b0dc-f709-4d05-9408-a5d100aef604/what-to-do-next/payment">Costs and payment information</a><a href="/iws/notification-application/6895b0dc-f709-4d05-9408-a5d100aef604/annex">Upload annexes and extra information</a> <a href="/iws/notification-application/6895b0dc-f709-4d05-9408-a5d100aef604/key-dates">View the key dates</a>
          </nav>
        </div>
      </div>
      <div class="column-half">
        <h2 class="heading-medium">New notification</h2>
        <div class="nav-bloc">
          <nav>
            <a data-action="Start" data-category="Export&#32;notification" data-track="element" href="/iws/new-notification/competent-authority">Start a new notification</a> <a data-action="Copy" data-category="Export&#32;notification" data-track="element" href="/iws/new-notification/competent-authority?cfp=1">Create a new notification based on a previous one</a> <a data-action="Supporting information" data-category="Export notification" data-track="element" href="https://www.gov.uk/importing-and-exporting-waste" id="supportingInfo-link" rel="external" target="_blank" title="View supporting information on GOV.UK in new tab">View supporting information</a> <span class="visuallyhidden">This link opens in a new browser tab</span>
          </nav>
        </div>
      </div>
    </div>
    <hr>
    <div class="grid-row">
      <div class="column-half">
        <h2 class="heading-medium">Shipment options</h2>
        <div class="nav-bloc">
          <nav>
            <a href="/iws/notification-movements/6895b0dc-f709-4d05-9408-a5d100aef604/create/shipment-date">Generate a prenotification</a>
            <a href="/iws/notification-movements/6895b0dc-f709-4d05-9408-a5d100aef604/upload-choice">Upload prenotification documents</a>

            <a href="which-shipment">Record a certificate of receipt and/or recovery</a>

            <a href="/iws/notification-movements/6895b0dc-f709-4d05-9408-a5d100aef604/cancel-movement">Cancel a prenotification</a>
            <a href="/iws/notification-movements/6895b0dc-f709-4d05-9408-a5d100aef604/edit">Edit a prenotification</a>
            <a href="/iws/notification-movements/6895b0dc-f709-4d05-9408-a5d100aef604/reject">Record a rejected shipment</a>
          </nav>
        </div>
      </div>
      <div class="column-half">
        <h2 class="heading-medium">Shipment summary</h2>
        <table class="odd-table">
          <caption class="visuallyhidden">
            Shipment summary
          </caption>
          <tbody>
            <tr>
              <td>Total number of shipments:</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Number of shipments used:</td>
              <td>44</td>
            </tr>
            <tr>
              <td>Active loads permitted:</td>
              <td>12</td>
            </tr>
            <tr>
              <td>Current active loads:</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Total quantity received:</td>
              <td>611 tonnes (t)</td>
            </tr>
            <tr>
              <td>Total quantity remaining:</td>
              <td>389 tonnes (t)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <section class="ship-data">
      <h2 class="heading-medium">Shipment key dates - based on status.</h2>
      <form action="/iws/notification-application/6895b0dc-f709-4d05-9408-a5d100aef604/options" method="post">
        <input name="__RequestVerificationToken" type="hidden" value="t_HBA18l6layf2vDvy3K51m9XoED9t9gwIq921ImUBt2etB11qMmNLS6rmmTN-z1KvuUdpEYa3efh-DhztB2lVxx3r3m0gBoKGetiBro8vaOHz2D5CNC0mKPTYO5PQyb_YOljTnsh_s8a1Lw9NUdfw2">
        <div class="grid-row form-group">
          <div class="column-third">
            Choose what you would like to view
          </div>
          <div class="column-half">
            <select class="form-control&#32;view-by" id="SelectedMovementStatus" name="SelectedMovementStatus">
              <option value="0">
                View all
              </option>
              <option value="1">
                Incomplete
              </option>
              <option value="2">
                Prenotified
              </option>
              <option value="3">
                Received
              </option>
              <option value="4">
                Recovered
              </option>
              <option value="5">
                Rejected
              </option>
              <option value="6">
                Cancelled
              </option>
              <option value="7">
                Pending
              </option>
            </select> <button class="button" id="updateStatus" type="submit">Update</button>
          </div>
        </div>
      </form>
      <div class="form-group">
        <table class="odd-table">
          <caption class="visuallyhidden">
            Shipment summary
          </caption>
          <thead>
            <tr>
              <th>No.</th>
              <th>Status</th>
              <th>Prenotified</th>
              <th>Shipment due</th>
              <th>Received</th>
              <th>Quantity</th>
              <th>Recovered</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>44</td>
              <td>Incomplete</td>
              <td>- -</td>
              <td>- -</td>
              <td>- -</td>
              <td>- -</td>
              <td>- -</td>
            </tr>
            <tr>
              <td>43</td>
              <td>Incomplete</td>
              <td>- -</td>
              <td>- -</td>
              <td>- -</td>
              <td>- -</td>
              <td>- -</td>
            </tr>
            <tr>
              <td>42</td>
              <td>Incomplete</td>
              <td>- -</td>
              <td>- -</td>
              <td>- -</td>
              <td>- -</td>
              <td>- -</td>
            </tr>
            <tr>
              <td>41</td>
              <td>Recovered</td>
              <td>- -</td>
              <td>27 May 2016</td>
              <td>27 May 2016</td>
              <td>25 t</td>
              <td>27 May 2016</td>
            </tr>
            <tr>
              <td>40</td>
              <td>Recovered</td>
              <td>- -</td>
              <td>27 May 2016</td>
              <td>27 May 2016</td>
              <td>25 t</td>
              <td>27 May 2016</td>
            </tr>
            <tr>
              <td>39</td>
              <td>Recovered</td>
              <td>- -</td>
              <td>27 May 2016</td>
              <td>27 May 2016</td>
              <td>25 t</td>
              <td>27 May 2016</td>
            </tr>
            <tr>
              <td>38</td>
              <td>Incomplete</td>
              <td>- -</td>
              <td>- -</td>
              <td>- -</td>
              <td>- -</td>
              <td>- -</td>
            </tr>
            <tr>
              <td>37</td>
              <td>Incomplete</td>
              <td>- -</td>
              <td>- -</td>
              <td>- -</td>
              <td>- -</td>
              <td>- -</td>
            </tr>
            <tr>
              <td>36</td>
              <td>Recovered</td>
              <td>26 May 2016</td>
              <td>26 May 2016</td>
              <td>26 May 2016</td>
              <td>27 t</td>
              <td>26 May 2016</td>
            </tr>
            <tr>
              <td>35</td>
              <td>Prenotified (Shipped)</td>
              <td>25 May 2016</td>
              <td>1 Jun 2016</td>
              <td>- -</td>
              <td>- -</td>
              <td>- -</td>
            </tr>
            <tr>
              <td>34</td>
              <td>Recovered</td>
              <td>25 May 2016</td>
              <td>6 Jun 2016</td>
              <td>7 Jun 2016</td>
              <td>25 t</td>
              <td>7 Jun 2016</td>
            </tr>
            <tr>
              <td>33</td>
              <td>Cancelled</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>32</td>
              <td>Rejected</td>
              <td>25 May 2016</td>
              <td>3 May 2016</td>
              <td>- -</td>
              <td>- -</td>
              <td>- -</td>
            </tr>
            <tr>
              <td>31</td>
              <td>Cancelled</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>30</td>
              <td>Recovered</td>
              <td>3 May 2016</td>
              <td>3 May 2016</td>
              <td>3 May 2016</td>
              <td>25 t</td>
              <td>3 May 2016</td>
            </tr>
            <tr>
              <td>29</td>
              <td>Recovered</td>
              <td>20 Apr 2016</td>
              <td>20 Apr 2016</td>
              <td>20 Apr 2016</td>
              <td>25 t</td>
              <td>20 Apr 2016</td>
            </tr>
            <tr>
              <td>28</td>
              <td>Cancelled</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>27</td>
              <td>Cancelled</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>26</td>
              <td>Cancelled</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>25</td>
              <td>Rejected</td>
              <td>19 Apr 2016</td>
              <td>19 Apr 2016</td>
              <td>- -</td>
              <td>- -</td>
              <td>- -</td>
            </tr>
            <tr>
              <td>24</td>
              <td>Recovered</td>
              <td>19 Apr 2016</td>
              <td>19 Apr 2016</td>
              <td>19 Apr 2016</td>
              <td>25 t</td>
              <td>19 Apr 2016</td>
            </tr>
            <tr>
              <td>23</td>
              <td>Rejected</td>
              <td>18 Apr 2016</td>
              <td>18 Apr 2016</td>
              <td>- -</td>
              <td>- -</td>
              <td>- -</td>
            </tr>
            <tr>
              <td>22</td>
              <td>Cancelled</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>21</td>
              <td>Recovered</td>
              <td>18 Apr 2016</td>
              <td>18 Apr 2016</td>
              <td>18 Apr 2016</td>
              <td>25 t</td>
              <td>18 Apr 2016</td>
            </tr>
            <tr>
              <td>20</td>
              <td>Recovered</td>
              <td>15 Apr 2016</td>
              <td>14 Apr 2017</td>
              <td>15 Apr 2016</td>
              <td>25 t</td>
              <td>15 Apr 2016</td>
            </tr>
            <tr>
              <td>19</td>
              <td>Cancelled</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>18</td>
              <td>Rejected</td>
              <td>15 Apr 2016</td>
              <td>15 Apr 2016</td>
              <td>- -</td>
              <td>- -</td>
              <td>- -</td>
            </tr>
            <tr>
              <td>17</td>
              <td>Recovered</td>
              <td>15 Apr 2016</td>
              <td>15 Apr 2016</td>
              <td>15 Apr 2016</td>
              <td>25 t</td>
              <td>15 Apr 2016</td>
            </tr>
            <tr>
              <td>16</td>
              <td>Cancelled</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>15</td>
              <td>Recovered</td>
              <td>13 Apr 2016</td>
              <td>13 Apr 2016</td>
              <td>13 Apr 2016</td>
              <td>25 t</td>
              <td>13 Apr 2016</td>
            </tr>
            <tr>
              <td>14</td>
              <td>Recovered</td>
              <td>13 Apr 2016</td>
              <td>13 Apr 2016</td>
              <td>13 Apr 2016</td>
              <td>25 t</td>
              <td>13 Apr 2016</td>
            </tr>
            <tr>
              <td>13</td>
              <td>Recovered</td>
              <td>13 Apr 2016</td>
              <td>13 Apr 2016</td>
              <td>13 Apr 2016</td>
              <td>20 t</td>
              <td>13 Apr 2016</td>
            </tr>
            <tr>
              <td>12</td>
              <td>Recovered</td>
              <td>13 Apr 2016</td>
              <td>13 Apr 2016</td>
              <td>13 Apr 2016</td>
              <td>25 t</td>
              <td>13 Apr 2016</td>
            </tr>
            <tr>
              <td>11</td>
              <td>Recovered</td>
              <td>13 Apr 2016</td>
              <td>13 Apr 2016</td>
              <td>13 Apr 2016</td>
              <td>25 t</td>
              <td>13 Apr 2016</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Recovered</td>
              <td>13 Apr 2016</td>
              <td>13 Apr 2016</td>
              <td>13 Apr 2016</td>
              <td>25 t</td>
              <td>13 Apr 2016</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Recovered</td>
              <td>13 Apr 2016</td>
              <td>13 Apr 2016</td>
              <td>13 Apr 2016</td>
              <td>25 t</td>
              <td>13 Apr 2016</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Recovered</td>
              <td>7 Apr 2016</td>
              <td>7 Apr 2016</td>
              <td>13 Apr 2016</td>
              <td>25 t</td>
              <td>13 Apr 2016</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Recovered</td>
              <td>5 Apr 2016</td>
              <td>5 Apr 2016</td>
              <td>13 Apr 2016</td>
              <td>25 t</td>
              <td>13 Apr 2016</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Recovered</td>
              <td>4 Apr 2016</td>
              <td>4 Apr 2016</td>
              <td>13 Apr 2016</td>
              <td>25 t</td>
              <td>13 Apr 2016</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Recovered</td>
              <td>5 Apr 2016</td>
              <td>4 Apr 2016</td>
              <td>5 Apr 2016</td>
              <td>15 t</td>
              <td>5 Apr 2016</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Recovered</td>
              <td>1 Apr 2016</td>
              <td>1 Apr 2016</td>
              <td>4 Apr 2016</td>
              <td>25 t</td>
              <td>4 Apr 2016</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Recovered</td>
              <td>1 Apr 2016</td>
              <td>29 Mar 2016</td>
              <td>1 Apr 2016</td>
              <td>12 t</td>
              <td>1 Apr 2016</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Recovered</td>
              <td>29 Mar 2016</td>
              <td>29 Mar 2016</td>
              <td>29 Mar 2016</td>
              <td>25 t</td>
              <td>29 Mar 2016</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Recovered</td>
              <td>24 Mar 2016</td>
              <td>24 Mar 2016</td>
              <td>24 Mar 2016</td>
              <td>12 t</td>
              <td>24 Mar 2016</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</main>
{% endblock %}
