{% extends "layout.html" %}

{% block page_title %}

GOV.UK prototype kit

{% endblock %}

{% block content %}

<main id="content">
  <div class="phase-banner">
    <p><strong class="phase-tag">BETA</strong> <span>This is a new service - your <a href="/iws/feedback">feedback</a> will help us to improve it.</span></p>
  </div>
  <div class="top-content-box font-xsmall">
    <div id="homepage-link-container">
      <a href="/iws/applicant/home">Go to your homepage</a>
    </div>
    <div id="top-content-box-container">
      <ul>
        <li>
          <div class="text-secondary">
            Signed in as: <span class="username-format">Phil Baird</span>
          </div>
        </li>
        <li>
          <form action="/iws/account/log-off" id="logoutForm" method="post" name="logoutForm">
            <input name="__RequestVerificationToken" type="hidden" value="wnwKnOGAjJXWSuqMkib8bc34t7mcGcYma8t63IH1SOPTYWY5vGBtDr5CX_7ise-AaW12bc0JlHPN3YyyU6jJgTFWzUi8KXKcGeKWHFZ3JzpRUuG8vMIa-wuUUbf4OHUc8vGwxCa7VkTRtw9g0B45jw2"> <button class="link-submit" id="link-sign-out" type="submit">Sign out</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">What documentation would you like to add?</h1>
      <form action="/prototypes/simultaneous-receipt-and-recovery/date-received" method="get" class="form">
        <div class="form-group">
          <fieldset>
            <legend class="visuallyhidden">What documentation would you like to add?</legend>
            <label for="certificateReceipt" class="block-label">
            <input type="radio" name="certificate" value="receipt" id="certificateReceipt">Certificate of receipt</label>

            <label for="certificateRecovery" class="block-label">
            <input type="radio" name="certificate" value="recovery" id="certificateRecovery">Certificate of recovery</label>

            <label for="certificateReceiptRecovery" class="block-label">
            <input type="radio" name="certificate" value="receipt_recovery" id="certificateReceiptRecovery">Certificate of receipt and recovery</label>
          </fieldset>
        </div>
        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>
      </form>



      <a href="/iws/notification-application/6895b0dc-f709-4d05-9408-a5d100aef604/options">Go to notification options</a>
    </div>
        <aside class="column-third form-status" id="form-menu">
      <p><span>GB 0001 006003</span></p>
      <ul class="summary-list">
        <li><span class="grey-text">Total number of shipments:</span> 44</li>
        <li><span class="grey-text">Active loads permitted:</span> 12</li>
        <li><span class="grey-text">Current active loads:</span> 1</li>
        <li><span class="grey-text">Total quantity received:</span> 611&nbsp;t</li>
        <li><span class="grey-text">Total quantity remaining:</span> 389&nbsp;t</li>
      </ul>
    </aside>
  </div>
</main>

{% endblock %}
