{% extends "layout.html" %}

{% block page_title %}

GOV.UK prototype kit

{% endblock %}

{% block content %}

<main id="content">
  <div class="phase-banner">
    <p><strong class="phase-tag">BETA</strong> <span>This is a new service - your <a href="/iws/feedback">feedback</a> will help us to improve it.</span></p>
  </div>
  <div class="top-content-box font-xsmall">
    <div id="homepage-link-container">
      <a href="/iws/applicant/home">Go to your homepage</a>
    </div>
    <div id="top-content-box-container">
      <ul>
        <li>
          <div class="text-secondary">
            Signed in as: <span class="username-format">Phil Baird</span>
          </div>
        </li>
        <li>
          <form action="/iws/account/log-off" id="logoutForm" method="post" name="logoutForm">
            <input name="__RequestVerificationToken" type="hidden" value="wnwKnOGAjJXWSuqMkib8bc34t7mcGcYma8t63IH1SOPTYWY5vGBtDr5CX_7ise-AaW12bc0JlHPN3YyyU6jJgTFWzUi8KXKcGeKWHFZ3JzpRUuG8vMIa-wuUUbf4OHUc8vGwxCa7VkTRtw9g0B45jw2"> <button class="link-submit" id="link-sign-out" type="submit">Sign out</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Which shipment do you have certificates for?</h1>
      <form action="">
        <input name="__RequestVerificationToken" type="hidden" value="WiqU8DT14W5DZW_bfenaFXbKhL1D-BpwrhbVk7BMkatVt5ek-eEGdMIbon_Wm6uWDvu0aJarNvCCf7FIyqtfdzs6SkpueKSm_sJYcjHe3ubz8dtKeI0kC20I3T3Im1dVkVxTq6P9nkoz2u570MSRrw2">
        <div class='error-summary-valid' data-valmsg-summary='true'>
          <ul class='error-summary-list'>
            <li style='display:none'></li>
          </ul>
        </div><input id="NotificationId" name="NotificationId" type="hidden" value="6895b0dc-f709-4d05-9408-a5d100aef604">
        <div class="form-group">
             <label class="block-label selection-button-checkbox" for="HasNoPrenotification">
                <input id="HasNoPrenotification" name="HasNoPrenotification" type="checkbox" value="true"><input name="HasNoPrenotification" type="hidden" value="false">
                Shipment 45
              </label>
                  <label class="block-label selection-button-checkbox" for="HasNoPrenotification2">
                <input id="HasNoPrenotification2" name="HasNoPrenotification2" type="checkbox" value="true"><input name="HasNoPrenotification" type="hidden" value="false">
                Shipment 46
              </label>
                  <label class="block-label selection-button-checkbox" for="HasNoPrenotification3">
                <input id="HasNoPrenotification3" name="HasNoPrenotification3" type="checkbox" value="true"><input name="HasNoPrenotification" type="hidden" value="false">
                Shipment 47
              </label>
        </div>
        <div class="form-group-compound">
          <a class="button" href="receipt-or-recovery">Continue</a>
        </div>
      </form>
    </div>
        <aside class="column-third form-status" id="form-menu">
      <p><span>GB 0001 006003</span></p>
      <ul class="summary-list">
        <li><span class="grey-text">Total number of shipments:</span> 47</li>
        <li><span class="grey-text">Active loads permitted:</span> 12</li>
        <li><span class="grey-text">Current active loads:</span> 1</li>
        <li><span class="grey-text">Total quantity received:</span> 611&nbsp;t</li>
        <li><span class="grey-text">Total quantity remaining:</span> 389&nbsp;t</li>
      </ul>
    </aside>
  </div>
</main>

{% endblock %}
